<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Password">
	{$Password_editcontrol}
	</control>
	<control field="TitleId">
	{$TitleId_editcontrol}
	</control>
	<control field="Photo">
	{$Photo_editcontrol}
	</control>
	<control field="FirstName">
	{$FirstName_editcontrol}
	</control>
	<control field="LastName">
	{$LastName_editcontrol}
	</control>
	<control field="MiddleName">
	{$MiddleName_editcontrol}
	</control>
	<control field="Gender">
	{$Gender_editcontrol}
	</control>
	<control field="DateOfBirth">
	{$DateOfBirth_editcontrol}
	</control>
	<control field="MaritalStatusId">
	{$MaritalStatusId_editcontrol}
	</control>
	<control field="DateofMarriage">
	{$DateofMarriage_editcontrol}
	</control>
	<control field="SpouseDevoteeId">
	{$SpouseDevoteeId_editcontrol}
	</control>
	<control field="MobilePhone">
	{$MobilePhone_editcontrol}
	</control>
	<control field="WorkPhone">
	{$WorkPhone_editcontrol}
	</control>
	<control field="EmailPrimary">
	{$EmailPrimary_editcontrol}
	</control>
	<control field="EmailSecondary">
	{$EmailSecondary_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>