<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="CompanyName">
	{$CompanyName_editcontrol}
	</control>
	<control field="Address_Line1">
	{$Address_Line1_editcontrol}
	</control>
	<control field="Address_Line2">
	{$Address_Line2_editcontrol}
	</control>
	<control field="City">
	{$City_editcontrol}
	</control>
	<control field="State">
	{$State_editcontrol}
	</control>
	<control field="PIN_Code">
	{$PIN_Code_editcontrol}
	</control>
	<control field="Country">
	{$Country_editcontrol}
	</control>
	<control field="Remark">
	{$Remark_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>