<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_master}
<table class="runner-c runner-c-master" cellpadding="0" >
<tr class="{$cheaderclass_master}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN mastertable_block}
<td  class="runner-cc runner-bl runner-b-masterinfoprint" {$brickclass_masterinfoprint}><span>{$showmasterfile}
</span></td>
{END mastertable_block}

<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_master}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_master}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Counsellor Counsellee</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN CounsellorCounselleeID_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN CounsellorCounselleeID_fieldheader}
	<b>Counsellor Counsellee ID</b>
	{END CounsellorCounselleeID_fieldheader}
</th>
{END CounsellorCounselleeID_fieldheadercolumn}
	{BEGIN CounsellorDevoteeID_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN CounsellorDevoteeID_fieldheader}
	<b>Counsellor Devotee ID</b>
	{END CounsellorDevoteeID_fieldheader}
</th>
{END CounsellorDevoteeID_fieldheadercolumn}
	{BEGIN CounselleeDevoteeID_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN CounselleeDevoteeID_fieldheader}
	<b>Counsellee Devotee ID</b>
	{END CounselleeDevoteeID_fieldheader}
</th>
{END CounselleeDevoteeID_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN CounsellorCounselleeID_fieldcolumn}
<td  class="runner-cc {$CounsellorCounselleeID_class}" {$CounsellorCounselleeID_style}>
	{$CounsellorCounselleeID_value}
</td>
{END CounsellorCounselleeID_fieldcolumn}
	{BEGIN CounsellorDevoteeID_fieldcolumn}
<td  class="runner-cc {$CounsellorDevoteeID_class}" {$CounsellorDevoteeID_style}>
	{$CounsellorDevoteeID_value}
</td>
{END CounsellorDevoteeID_fieldcolumn}
	{BEGIN CounselleeDevoteeID_fieldcolumn}
<td  class="runner-cc {$CounselleeDevoteeID_class}" {$CounselleeDevoteeID_style}>
	{$CounselleeDevoteeID_value}
</td>
{END CounselleeDevoteeID_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN CounsellorCounselleeID_fieldfootercolumn}
<td class="runner-cc "></td>
{END CounsellorCounselleeID_fieldfootercolumn}
{BEGIN CounsellorDevoteeID_fieldfootercolumn}
<td class="runner-cc "></td>
{END CounsellorDevoteeID_fieldfootercolumn}
{BEGIN CounselleeDevoteeID_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END CounselleeDevoteeID_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
