<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN MaritalStatusId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_MaritalStatusId {$fielddispclass_MaritalStatusId}">
				Marital Status Id
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_MaritalStatusId {$fielddispclass_MaritalStatusId}">
			{$MaritalStatusId_value}
			</div>
		</td>
	</tr>
{END MaritalStatusId_tabfieldblock}
{BEGIN DateofMarriage_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_DateofMarriage {$fielddispclass_DateofMarriage}">
				Dateof Marriage
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_DateofMarriage {$fielddispclass_DateofMarriage}">
			{$DateofMarriage_value}
			</div>
		</td>
	</tr>
{END DateofMarriage_tabfieldblock}
{BEGIN SpouseDevoteeId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_SpouseDevoteeId {$fielddispclass_SpouseDevoteeId}">
				Spouse Devotee Id
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_SpouseDevoteeId {$fielddispclass_SpouseDevoteeId}">
			{$SpouseDevoteeId_value}
			</div>
		</td>
	</tr>
{END SpouseDevoteeId_tabfieldblock}
</table>





{END container_1}

</div>