<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN EmailPrimary_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_EmailPrimary {$fielddispclass_EmailPrimary}">
				Email
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_EmailPrimary {$fielddispclass_EmailPrimary}">
			{$EmailPrimary_value}
			</div>
		</td>
	</tr>
{END EmailPrimary_tabfieldblock}
{BEGIN EmailSecondary_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_EmailSecondary {$fielddispclass_EmailSecondary}">
				Email Secondary
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_EmailSecondary {$fielddispclass_EmailSecondary}">
			{$EmailSecondary_value}
			</div>
		</td>
	</tr>
{END EmailSecondary_tabfieldblock}
{BEGIN MobilePhone_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_MobilePhone {$fielddispclass_MobilePhone}">
				Mobile Number
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_MobilePhone {$fielddispclass_MobilePhone}">
			{$MobilePhone_value}
			</div>
		</td>
	</tr>
{END MobilePhone_tabfieldblock}
{BEGIN WorkPhone_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_WorkPhone {$fielddispclass_WorkPhone}">
				Work Phone
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldvalue_WorkPhone {$fielddispclass_WorkPhone}">
			{$WorkPhone_value}
			</div>
		</td>
	</tr>
{END WorkPhone_tabfieldblock}
</table>





{END container_1}

</div>