<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="DonationDate">
	{$DonationDate_editcontrol}
	</control>
	<control 
	field="DonationOnName">
	{$DonationOnName_editcontrol}
	</control>
	<control 
	field="DonationOnNamePanNumber">
	{$DonationOnNamePanNumber_editcontrol}
	</control>
	<control 
	field="DonationPurposeId">
	{$DonationPurposeId_editcontrol}
	</control>
	<control 
	field="Amount">
	{$Amount_editcontrol}
	</control>
	<control 
	field="ReceiptNumber">
	{$ReceiptNumber_editcontrol}
	</control>
	<control 
	field="DonationMode">
	{$DonationMode_editcontrol}
	</control>
	<control 
	field="CheckNumber">
	{$CheckNumber_editcontrol}
	</control>
	<control 
	field="CheckBank">
	{$CheckBank_editcontrol}
	</control>
	<control 
	field="CheckBranch">
	{$CheckBranch_editcontrol}
	</control>
	<control 
	field="CheckCleared">
	{$CheckCleared_editcontrol}
	</control>
	<control 
	field="CheckClearedDate">
	{$CheckClearedDate_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
