<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="AddressLine1">
	{$AddressLine1_editcontrol}
	</control>
	<control 
	field="AddressLine2">
	{$AddressLine2_editcontrol}
	</control>
	<control 
	field="State">
	{$State_editcontrol}
	</control>
	<control 
	field="City">
	{$City_editcontrol}
	</control>
	<control 
	field="country">
	{$country_editcontrol}
	</control>
	<control 
	field="pincode">
	{$pincode_editcontrol}
	</control>
	<control 
	field="AddressTypeID">
	{$AddressTypeID_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
