<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_DevoteeOrgId}
			<a href="#" id="addSearchControl_DevoteeOrgId" class="addSearchControl" {$addSearchControl_DevoteeOrgId_attrs}>Devotee Org Id</a><br>
		{END addSearch_DevoteeOrgId}
		{BEGIN addSearch_OrgId}
			<a href="#" id="addSearchControl_OrgId" class="addSearchControl" {$addSearchControl_OrgId_attrs}>Org Id</a><br>
		{END addSearch_OrgId}
		{BEGIN addSearch_DevoteeId}
			<a href="#" id="addSearchControl_DevoteeId" class="addSearchControl" {$addSearchControl_DevoteeId_attrs}>Devotee Id</a><br>
		{END addSearch_DevoteeId}
		{BEGIN addSearch_FromDate}
			<a href="#" id="addSearchControl_FromDate" class="addSearchControl" {$addSearchControl_FromDate_attrs}>From Date</a><br>
		{END addSearch_FromDate}
		{BEGIN addSearch_ToDate}
			<a href="#" id="addSearchControl_ToDate" class="addSearchControl" {$addSearchControl_ToDate_attrs}>To Date</a><br>
		{END addSearch_ToDate}
		{BEGIN addSearch_Role}
			<a href="#" id="addSearchControl_Role" class="addSearchControl" {$addSearchControl_Role_attrs}>Role</a><br>
		{END addSearch_Role}
	</div>
	
	<div class="controlsBlock">
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow" {$filterRow_attrs}>
			<div class="srchPanelCell">{$delCtrlButt}&nbsp;{$fLabel}:&nbsp;</div>
			<div class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</div>
		</div>
		{END searchCtrlBlock}
	</div>
		
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
