<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_FamilyMemberId}
			<a href="#" id="addSearchControl_FamilyMemberId" class="addSearchControl" {$addSearchControl_FamilyMemberId_attrs}>Family Member Id</a><br>
		{END addSearch_FamilyMemberId}
		{BEGIN addSearch_MemberName}
			<a href="#" id="addSearchControl_MemberName" class="addSearchControl" {$addSearchControl_MemberName_attrs}>Member Name</a><br>
		{END addSearch_MemberName}
		{BEGIN addSearch_MemberRelationshipId}
			<a href="#" id="addSearchControl_MemberRelationshipId" class="addSearchControl" {$addSearchControl_MemberRelationshipId_attrs}>Relationship</a><br>
		{END addSearch_MemberRelationshipId}
		{BEGIN addSearch_DateofBirth}
			<a href="#" id="addSearchControl_DateofBirth" class="addSearchControl" {$addSearchControl_DateofBirth_attrs}>Date of Birth</a><br>
		{END addSearch_DateofBirth}
		{BEGIN addSearch_Remark}
			<a href="#" id="addSearchControl_Remark" class="addSearchControl" {$addSearchControl_Remark_attrs}>Remark</a><br>
		{END addSearch_Remark}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
