<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="LanguageId">
	{$LanguageId_editcontrol}
	</control>
	<control 
	field="DevoteeExtraInfoId">
	{$DevoteeExtraInfoId_editcontrol}
	</control>
	<control 
	field="DevoteeId1">
	{$DevoteeId1_editcontrol}
	</control>
	<control 
	field="NativeCity">
	{$NativeCity_editcontrol}
	</control>
	<control 
	field="NativeState">
	{$NativeState_editcontrol}
	</control>
	<control 
	field="BloodGroup">
	{$BloodGroup_editcontrol}
	</control>
	<control 
	field="FatherName">
	{$FatherName_editcontrol}
	</control>
	<control 
	field="MotherName">
	{$MotherName_editcontrol}
	</control>
	<control 
	field="DevoteeLanguageId">
	{$DevoteeLanguageId_editcontrol}
	</control>
	<control 
	field="DevoteeId2">
	{$DevoteeId2_editcontrol}
	</control>
	<control 
	field="SpeakingLevel">
	{$SpeakingLevel_editcontrol}
	</control>
	<control 
	field="ReadingLevel">
	{$ReadingLevel_editcontrol}
	</control>
	<control 
	field="WritingLevel">
	{$WritingLevel_editcontrol}
	</control>
	<control 
	field="TitleId">
	{$TitleId_editcontrol}
	</control>
	<control 
	field="Photo">
	{$Photo_editcontrol}
	</control>
	<control 
	field="FirstName">
	{$FirstName_editcontrol}
	</control>
	<control 
	field="LastName">
	{$LastName_editcontrol}
	</control>
	<control 
	field="MiddleName">
	{$MiddleName_editcontrol}
	</control>
	<control 
	field="MobilePhone">
	{$MobilePhone_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
