<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="DevoteeId1">
	{$DevoteeId1_editcontrol}
	</control>
	<control field="DateOfHarinamInitiation">
	{$DateOfHarinamInitiation_editcontrol}
	</control>
	<control field="CounsellorDevoteeID">
	{$CounsellorDevoteeID_editcontrol}
	</control>
	<control field="TitleId">
	{$TitleId_editcontrol}
	</control>
	<control field="Photo">
	{$Photo_editcontrol}
	</control>
	<control field="FirstName">
	{$FirstName_editcontrol}
	</control>
	<control field="LastName">
	{$LastName_editcontrol}
	</control>
	<control field="MiddleName">
	{$MiddleName_editcontrol}
	</control>
	<control field="MobilePhone">
	{$MobilePhone_editcontrol}
	</control>
	<control field="EmailPrimary">
	{$EmailPrimary_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>