<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN organization_Location_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_organization_Location {$fielddispclass_organization_Location}">
				{BEGIN organization_Location_label}Location{END organization_Location_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_organization_Location {$fielddispclass_organization_Location}">
				{$organization_Location_editcontrol}
			</div>
		</td>
	</tr>
{END organization_Location_tabfieldblock}
</table>





{END container_1}

</div>