<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN occupational_DevoteeOccupationalId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_occupational_DevoteeOccupationalId {$fielddispclass_occupational_DevoteeOccupationalId}">
				{BEGIN occupational_DevoteeOccupationalId_label}Devotee Occupational Id{END occupational_DevoteeOccupationalId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_occupational_DevoteeOccupationalId {$fielddispclass_occupational_DevoteeOccupationalId}">
				{$occupational_DevoteeOccupationalId_editcontrol}
			</div>
		</td>
	</tr>
{END occupational_DevoteeOccupationalId_tabfieldblock}
{BEGIN Occupational_DevoteeId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Occupational_DevoteeId {$fielddispclass_Occupational_DevoteeId}">
				{BEGIN Occupational_DevoteeId_label}DevoteeId{END Occupational_DevoteeId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Occupational_DevoteeId {$fielddispclass_Occupational_DevoteeId}">
				{$Occupational_DevoteeId_editcontrol}
			</div>
		</td>
	</tr>
{END Occupational_DevoteeId_tabfieldblock}
{BEGIN Occupational_Education_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Occupational_Education {$fielddispclass_Occupational_Education}">
				{BEGIN Occupational_Education_label}Education{END Occupational_Education_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Occupational_Education {$fielddispclass_Occupational_Education}">
				{$Occupational_Education_editcontrol}
			</div>
		</td>
	</tr>
{END Occupational_Education_tabfieldblock}
{BEGIN Occupational_Occupation_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Occupational_Occupation {$fielddispclass_Occupational_Occupation}">
				{BEGIN Occupational_Occupation_label}Occupation{END Occupational_Occupation_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Occupational_Occupation {$fielddispclass_Occupational_Occupation}">
				{$Occupational_Occupation_editcontrol}
			</div>
		</td>
	</tr>
{END Occupational_Occupation_tabfieldblock}
{BEGIN Occupational_Designation_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Occupational_Designation {$fielddispclass_Occupational_Designation}">
				{BEGIN Occupational_Designation_label}Designation{END Occupational_Designation_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Occupational_Designation {$fielddispclass_Occupational_Designation}">
				{$Occupational_Designation_editcontrol}
			</div>
		</td>
	</tr>
{END Occupational_Designation_tabfieldblock}
{BEGIN Occupational_AwardsOrMerits_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Occupational_AwardsOrMerits {$fielddispclass_Occupational_AwardsOrMerits}">
				{BEGIN Occupational_AwardsOrMerits_label}Awards Or Merits{END Occupational_AwardsOrMerits_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Occupational_AwardsOrMerits {$fielddispclass_Occupational_AwardsOrMerits}">
				{$Occupational_AwardsOrMerits_editcontrol}
			</div>
		</td>
	</tr>
{END Occupational_AwardsOrMerits_tabfieldblock}
{BEGIN occupational_SkillsOrExperiences_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_occupational_SkillsOrExperiences {$fielddispclass_occupational_SkillsOrExperiences}">
				{BEGIN occupational_SkillsOrExperiences_label}Skills Or Experiences{END occupational_SkillsOrExperiences_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_occupational_SkillsOrExperiences {$fielddispclass_occupational_SkillsOrExperiences}">
				{$occupational_SkillsOrExperiences_editcontrol}
			</div>
		</td>
	</tr>
{END occupational_SkillsOrExperiences_tabfieldblock}
{BEGIN occupational_CurrentCompanyId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_occupational_CurrentCompanyId {$fielddispclass_occupational_CurrentCompanyId}">
				{BEGIN occupational_CurrentCompanyId_label}Current Company Id{END occupational_CurrentCompanyId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_occupational_CurrentCompanyId {$fielddispclass_occupational_CurrentCompanyId}">
				{$occupational_CurrentCompanyId_editcontrol}
			</div>
		</td>
	</tr>
{END occupational_CurrentCompanyId_tabfieldblock}
</table>





{END container_1}

</div>