<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Vw Devotee Full</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN DevoteeId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN DevoteeId_fieldheader}
	<b>Devotee Id</b>
	{END DevoteeId_fieldheader}
</th>
{END DevoteeId_fieldheadercolumn}
	{BEGIN Address_AddressId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Address_AddressId_fieldheader}
	<b>Address Id</b>
	{END Address_AddressId_fieldheader}
</th>
{END Address_AddressId_fieldheadercolumn}
	{BEGIN address_AddressLine1_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN address_AddressLine1_fieldheader}
	<b>Address Line1</b>
	{END address_AddressLine1_fieldheader}
</th>
{END address_AddressLine1_fieldheadercolumn}
	{BEGIN address_AddressLine2_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN address_AddressLine2_fieldheader}
	<b>Address Line2</b>
	{END address_AddressLine2_fieldheader}
</th>
{END address_AddressLine2_fieldheadercolumn}
	{BEGIN address_City_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN address_City_fieldheader}
	<b>City</b>
	{END address_City_fieldheader}
</th>
{END address_City_fieldheadercolumn}
	{BEGIN address_State_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN address_State_fieldheader}
	<b>State</b>
	{END address_State_fieldheader}
</th>
{END address_State_fieldheadercolumn}
	{BEGIN address_Pincode_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN address_Pincode_fieldheader}
	<b>Pincode</b>
	{END address_Pincode_fieldheader}
</th>
{END address_Pincode_fieldheadercolumn}
	{BEGIN address_Country_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN address_Country_fieldheader}
	<b>Country</b>
	{END address_Country_fieldheader}
</th>
{END address_Country_fieldheadercolumn}
	{BEGIN address_IsVerified_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN address_IsVerified_fieldheader}
	<b>IsVerified</b>
	{END address_IsVerified_fieldheader}
</th>
{END address_IsVerified_fieldheadercolumn}
	{BEGIN address_IsWrong_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN address_IsWrong_fieldheader}
	<b>IsWrong</b>
	{END address_IsWrong_fieldheader}
</th>
{END address_IsWrong_fieldheadercolumn}
	{BEGIN address_AddressTypeId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN address_AddressTypeId_fieldheader}
	<b>Address Type Id</b>
	{END address_AddressTypeId_fieldheader}
</th>
{END address_AddressTypeId_fieldheadercolumn}
	{BEGIN organization_OrgName_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN organization_OrgName_fieldheader}
	<b>Org Name</b>
	{END organization_OrgName_fieldheader}
</th>
{END organization_OrgName_fieldheadercolumn}
	{BEGIN organization_OrgId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN organization_OrgId_fieldheader}
	<b>OrgId</b>
	{END organization_OrgId_fieldheader}
</th>
{END organization_OrgId_fieldheadercolumn}
	{BEGIN organization_OrgLeaderId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN organization_OrgLeaderId_fieldheader}
	<b>OrgLeaderId</b>
	{END organization_OrgLeaderId_fieldheader}
</th>
{END organization_OrgLeaderId_fieldheadercolumn}
	{BEGIN organization_OrgOwnerId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN organization_OrgOwnerId_fieldheader}
	<b>OrgOwnerId</b>
	{END organization_OrgOwnerId_fieldheader}
</th>
{END organization_OrgOwnerId_fieldheadercolumn}
	{BEGIN organization_Location_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN organization_Location_fieldheader}
	<b>Location</b>
	{END organization_Location_fieldheader}
</th>
{END organization_Location_fieldheadercolumn}
	{BEGIN spirituallife_SericesRendered_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spirituallife_SericesRendered_fieldheader}
	<b>Serices Rendered</b>
	{END spirituallife_SericesRendered_fieldheader}
</th>
{END spirituallife_SericesRendered_fieldheadercolumn}
	{BEGIN SpiritualLife_DevoteeId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN SpiritualLife_DevoteeId_fieldheader}
	<b>Devotee Id</b>
	{END SpiritualLife_DevoteeId_fieldheader}
</th>
{END SpiritualLife_DevoteeId_fieldheadercolumn}
	{BEGIN spirituallife_PreferedServices_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spirituallife_PreferedServices_fieldheader}
	<b>Prefered Services</b>
	{END spirituallife_PreferedServices_fieldheader}
</th>
{END spirituallife_PreferedServices_fieldheadercolumn}
	{BEGIN spirituallife_Chanting16RoundsSince_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spirituallife_Chanting16RoundsSince_fieldheader}
	<b>Chanting 16 Rounds Since</b>
	{END spirituallife_Chanting16RoundsSince_fieldheader}
</th>
{END spirituallife_Chanting16RoundsSince_fieldheadercolumn}
	{BEGIN spirituallife_IntroducedInCenter_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spirituallife_IntroducedInCenter_fieldheader}
	<b>Introduced In Center</b>
	{END spirituallife_IntroducedInCenter_fieldheader}
</th>
{END spirituallife_IntroducedInCenter_fieldheadercolumn}
	{BEGIN spirituallife_YearOfIntroduction_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spirituallife_YearOfIntroduction_fieldheader}
	<b>Year Of Introduction</b>
	{END spirituallife_YearOfIntroduction_fieldheader}
</th>
{END spirituallife_YearOfIntroduction_fieldheadercolumn}
	{BEGIN spirituallife_PreviousReligion_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spirituallife_PreviousReligion_fieldheader}
	<b>Previous Religion</b>
	{END spirituallife_PreviousReligion_fieldheader}
</th>
{END spirituallife_PreviousReligion_fieldheadercolumn}
	{BEGIN spirituallife_SpiritualMasterDevoteeId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spirituallife_SpiritualMasterDevoteeId_fieldheader}
	<b>Spiritual Master Devotee Id</b>
	{END spirituallife_SpiritualMasterDevoteeId_fieldheader}
</th>
{END spirituallife_SpiritualMasterDevoteeId_fieldheadercolumn}
	{BEGIN spirituallife_DateOfBrahmanInitiation_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spirituallife_DateOfBrahmanInitiation_fieldheader}
	<b>Date Of Brahman Initiation</b>
	{END spirituallife_DateOfBrahmanInitiation_fieldheader}
</th>
{END spirituallife_DateOfBrahmanInitiation_fieldheadercolumn}
	{BEGIN spirituallife_DateOfHarinamInitiation_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spirituallife_DateOfHarinamInitiation_fieldheader}
	<b>Date Of Harinam Initiation</b>
	{END spirituallife_DateOfHarinamInitiation_fieldheader}
</th>
{END spirituallife_DateOfHarinamInitiation_fieldheadercolumn}
	{BEGIN spirituallife_SpiritulLifeId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spirituallife_SpiritulLifeId_fieldheader}
	<b>Spiritul Life Id</b>
	{END spirituallife_SpiritulLifeId_fieldheader}
</th>
{END spirituallife_SpiritulLifeId_fieldheadercolumn}
	{BEGIN spirituallife_IntroducedBy_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spirituallife_IntroducedBy_fieldheader}
	<b>Introduced By</b>
	{END spirituallife_IntroducedBy_fieldheader}
</th>
{END spirituallife_IntroducedBy_fieldheadercolumn}
	{BEGIN company_CompanyId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN company_CompanyId_fieldheader}
	<b>Company Id</b>
	{END company_CompanyId_fieldheader}
</th>
{END company_CompanyId_fieldheadercolumn}
	{BEGIN company_CompanyName_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN company_CompanyName_fieldheader}
	<b>Company Name</b>
	{END company_CompanyName_fieldheader}
</th>
{END company_CompanyName_fieldheadercolumn}
	{BEGIN company_AddressId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN company_AddressId_fieldheader}
	<b>Address Id</b>
	{END company_AddressId_fieldheader}
</th>
{END company_AddressId_fieldheadercolumn}
	{BEGIN company_Remark_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN company_Remark_fieldheader}
	<b>Remark</b>
	{END company_Remark_fieldheader}
</th>
{END company_Remark_fieldheadercolumn}
	{BEGIN devoteelang_DevoteeLanguageId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN devoteelang_DevoteeLanguageId_fieldheader}
	<b>Devotee Language Id</b>
	{END devoteelang_DevoteeLanguageId_fieldheader}
</th>
{END devoteelang_DevoteeLanguageId_fieldheadercolumn}
	{BEGIN devoteelang_WritingLevel_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN devoteelang_WritingLevel_fieldheader}
	<b>Writing Level</b>
	{END devoteelang_WritingLevel_fieldheader}
</th>
{END devoteelang_WritingLevel_fieldheadercolumn}
	{BEGIN devoteelang_DevoteeId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN devoteelang_DevoteeId_fieldheader}
	<b>Devotee Id</b>
	{END devoteelang_DevoteeId_fieldheader}
</th>
{END devoteelang_DevoteeId_fieldheadercolumn}
	{BEGIN devoteelang_LanguageId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN devoteelang_LanguageId_fieldheader}
	<b>Language Id</b>
	{END devoteelang_LanguageId_fieldheader}
</th>
{END devoteelang_LanguageId_fieldheadercolumn}
	{BEGIN devoteelang_SpeakingLevel_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN devoteelang_SpeakingLevel_fieldheader}
	<b>Speaking Level</b>
	{END devoteelang_SpeakingLevel_fieldheader}
</th>
{END devoteelang_SpeakingLevel_fieldheadercolumn}
	{BEGIN devoteelang_ReadingLevel_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN devoteelang_ReadingLevel_fieldheader}
	<b>Reading Level</b>
	{END devoteelang_ReadingLevel_fieldheader}
</th>
{END devoteelang_ReadingLevel_fieldheadercolumn}
	{BEGIN occupational_DevoteeOccupationalId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN occupational_DevoteeOccupationalId_fieldheader}
	<b>Devotee Occupational Id</b>
	{END occupational_DevoteeOccupationalId_fieldheader}
</th>
{END occupational_DevoteeOccupationalId_fieldheadercolumn}
	{BEGIN Occupational_DevoteeId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Occupational_DevoteeId_fieldheader}
	<b>DevoteeId</b>
	{END Occupational_DevoteeId_fieldheader}
</th>
{END Occupational_DevoteeId_fieldheadercolumn}
	{BEGIN Occupational_Education_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Occupational_Education_fieldheader}
	<b>Education</b>
	{END Occupational_Education_fieldheader}
</th>
{END Occupational_Education_fieldheadercolumn}
	{BEGIN Occupational_Occupation_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Occupational_Occupation_fieldheader}
	<b>Occupation</b>
	{END Occupational_Occupation_fieldheader}
</th>
{END Occupational_Occupation_fieldheadercolumn}
	{BEGIN Occupational_Designation_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Occupational_Designation_fieldheader}
	<b>Designation</b>
	{END Occupational_Designation_fieldheader}
</th>
{END Occupational_Designation_fieldheadercolumn}
	{BEGIN Occupational_AwardsOrMerits_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Occupational_AwardsOrMerits_fieldheader}
	<b>Awards Or Merits</b>
	{END Occupational_AwardsOrMerits_fieldheader}
</th>
{END Occupational_AwardsOrMerits_fieldheadercolumn}
	{BEGIN occupational_SkillsOrExperiences_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN occupational_SkillsOrExperiences_fieldheader}
	<b>Skills Or Experiences</b>
	{END occupational_SkillsOrExperiences_fieldheader}
</th>
{END occupational_SkillsOrExperiences_fieldheadercolumn}
	{BEGIN occupational_CurrentCompanyId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN occupational_CurrentCompanyId_fieldheader}
	<b>Current Company Id</b>
	{END occupational_CurrentCompanyId_fieldheader}
</th>
{END occupational_CurrentCompanyId_fieldheadercolumn}
	{BEGIN addresstypes_AddressType_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN addresstypes_AddressType_fieldheader}
	<b>Address Type</b>
	{END addresstypes_AddressType_fieldheader}
</th>
{END addresstypes_AddressType_fieldheadercolumn}
	{BEGIN addresstypes_AddressTypeId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN addresstypes_AddressTypeId_fieldheader}
	<b>AddressTypeId</b>
	{END addresstypes_AddressTypeId_fieldheader}
</th>
{END addresstypes_AddressTypeId_fieldheadercolumn}
	{BEGIN DevoteeOrg_DevoteeOrgId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN DevoteeOrg_DevoteeOrgId_fieldheader}
	<b>Devotee Org Id</b>
	{END DevoteeOrg_DevoteeOrgId_fieldheader}
</th>
{END DevoteeOrg_DevoteeOrgId_fieldheadercolumn}
	{BEGIN DevoteeOrg_DevoteeId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN DevoteeOrg_DevoteeId_fieldheader}
	<b>Devotee Id</b>
	{END DevoteeOrg_DevoteeId_fieldheader}
</th>
{END DevoteeOrg_DevoteeId_fieldheadercolumn}
	{BEGIN DevoteeOrg_FromDate_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN DevoteeOrg_FromDate_fieldheader}
	<b>From Date</b>
	{END DevoteeOrg_FromDate_fieldheader}
</th>
{END DevoteeOrg_FromDate_fieldheadercolumn}
	{BEGIN DevoteeOrg_ToDate_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN DevoteeOrg_ToDate_fieldheader}
	<b>To Date</b>
	{END DevoteeOrg_ToDate_fieldheader}
</th>
{END DevoteeOrg_ToDate_fieldheadercolumn}
	{BEGIN DevoteeOrg_OrgId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN DevoteeOrg_OrgId_fieldheader}
	<b>Org Id</b>
	{END DevoteeOrg_OrgId_fieldheader}
</th>
{END DevoteeOrg_OrgId_fieldheadercolumn}
	{BEGIN devoteeaddress_devoteeaddressId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN devoteeaddress_devoteeaddressId_fieldheader}
	<b>Devotee Address Id</b>
	{END devoteeaddress_devoteeaddressId_fieldheader}
</th>
{END devoteeaddress_devoteeaddressId_fieldheadercolumn}
	{BEGIN devoteeaddress_AddressId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN devoteeaddress_AddressId_fieldheader}
	<b>AddressId</b>
	{END devoteeaddress_AddressId_fieldheader}
</th>
{END devoteeaddress_AddressId_fieldheadercolumn}
	{BEGIN devoteeaddress_DevoteeId_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN devoteeaddress_DevoteeId_fieldheader}
	<b>DevoteeId</b>
	{END devoteeaddress_DevoteeId_fieldheader}
</th>
{END devoteeaddress_DevoteeId_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN DevoteeId_fieldcolumn}
<td  class="runner-cc {$DevoteeId_class}" {$DevoteeId_style}>
	{$DevoteeId_value}
</td>
{END DevoteeId_fieldcolumn}
	{BEGIN Address_AddressId_fieldcolumn}
<td  class="runner-cc {$Address_AddressId_class}" {$Address_AddressId_style}>
	{$Address_AddressId_value}
</td>
{END Address_AddressId_fieldcolumn}
	{BEGIN address_AddressLine1_fieldcolumn}
<td  class="runner-cc {$address_AddressLine1_class}" {$address_AddressLine1_style}>
	{$address_AddressLine1_value}
</td>
{END address_AddressLine1_fieldcolumn}
	{BEGIN address_AddressLine2_fieldcolumn}
<td  class="runner-cc {$address_AddressLine2_class}" {$address_AddressLine2_style}>
	{$address_AddressLine2_value}
</td>
{END address_AddressLine2_fieldcolumn}
	{BEGIN address_City_fieldcolumn}
<td  class="runner-cc {$address_City_class}" {$address_City_style}>
	{$address_City_value}
</td>
{END address_City_fieldcolumn}
	{BEGIN address_State_fieldcolumn}
<td  class="runner-cc {$address_State_class}" {$address_State_style}>
	{$address_State_value}
</td>
{END address_State_fieldcolumn}
	{BEGIN address_Pincode_fieldcolumn}
<td  class="runner-cc {$address_Pincode_class}" {$address_Pincode_style}>
	{$address_Pincode_value}
</td>
{END address_Pincode_fieldcolumn}
	{BEGIN address_Country_fieldcolumn}
<td  class="runner-cc {$address_Country_class}" {$address_Country_style}>
	{$address_Country_value}
</td>
{END address_Country_fieldcolumn}
	{BEGIN address_IsVerified_fieldcolumn}
<td  class="runner-cc {$address_IsVerified_class}" {$address_IsVerified_style}>
	{$address_IsVerified_value}
</td>
{END address_IsVerified_fieldcolumn}
	{BEGIN address_IsWrong_fieldcolumn}
<td  class="runner-cc {$address_IsWrong_class}" {$address_IsWrong_style}>
	{$address_IsWrong_value}
</td>
{END address_IsWrong_fieldcolumn}
	{BEGIN address_AddressTypeId_fieldcolumn}
<td  class="runner-cc {$address_AddressTypeId_class}" {$address_AddressTypeId_style}>
	{$address_AddressTypeId_value}
</td>
{END address_AddressTypeId_fieldcolumn}
	{BEGIN organization_OrgName_fieldcolumn}
<td  class="runner-cc {$organization_OrgName_class}" {$organization_OrgName_style}>
	{$organization_OrgName_value}
</td>
{END organization_OrgName_fieldcolumn}
	{BEGIN organization_OrgId_fieldcolumn}
<td  class="runner-cc {$organization_OrgId_class}" {$organization_OrgId_style}>
	{$organization_OrgId_value}
</td>
{END organization_OrgId_fieldcolumn}
	{BEGIN organization_OrgLeaderId_fieldcolumn}
<td  class="runner-cc {$organization_OrgLeaderId_class}" {$organization_OrgLeaderId_style}>
	{$organization_OrgLeaderId_value}
</td>
{END organization_OrgLeaderId_fieldcolumn}
	{BEGIN organization_OrgOwnerId_fieldcolumn}
<td  class="runner-cc {$organization_OrgOwnerId_class}" {$organization_OrgOwnerId_style}>
	{$organization_OrgOwnerId_value}
</td>
{END organization_OrgOwnerId_fieldcolumn}
	{BEGIN organization_Location_fieldcolumn}
<td  class="runner-cc {$organization_Location_class}" {$organization_Location_style}>
	{$organization_Location_value}
</td>
{END organization_Location_fieldcolumn}
	{BEGIN spirituallife_SericesRendered_fieldcolumn}
<td  class="runner-cc {$spirituallife_SericesRendered_class}" {$spirituallife_SericesRendered_style}>
	{$spirituallife_SericesRendered_value}
</td>
{END spirituallife_SericesRendered_fieldcolumn}
	{BEGIN SpiritualLife_DevoteeId_fieldcolumn}
<td  class="runner-cc {$SpiritualLife_DevoteeId_class}" {$SpiritualLife_DevoteeId_style}>
	{$SpiritualLife_DevoteeId_value}
</td>
{END SpiritualLife_DevoteeId_fieldcolumn}
	{BEGIN spirituallife_PreferedServices_fieldcolumn}
<td  class="runner-cc {$spirituallife_PreferedServices_class}" {$spirituallife_PreferedServices_style}>
	{$spirituallife_PreferedServices_value}
</td>
{END spirituallife_PreferedServices_fieldcolumn}
	{BEGIN spirituallife_Chanting16RoundsSince_fieldcolumn}
<td  class="runner-cc {$spirituallife_Chanting16RoundsSince_class}" {$spirituallife_Chanting16RoundsSince_style}>
	{$spirituallife_Chanting16RoundsSince_value}
</td>
{END spirituallife_Chanting16RoundsSince_fieldcolumn}
	{BEGIN spirituallife_IntroducedInCenter_fieldcolumn}
<td  class="runner-cc {$spirituallife_IntroducedInCenter_class}" {$spirituallife_IntroducedInCenter_style}>
	{$spirituallife_IntroducedInCenter_value}
</td>
{END spirituallife_IntroducedInCenter_fieldcolumn}
	{BEGIN spirituallife_YearOfIntroduction_fieldcolumn}
<td  class="runner-cc {$spirituallife_YearOfIntroduction_class}" {$spirituallife_YearOfIntroduction_style}>
	{$spirituallife_YearOfIntroduction_value}
</td>
{END spirituallife_YearOfIntroduction_fieldcolumn}
	{BEGIN spirituallife_PreviousReligion_fieldcolumn}
<td  class="runner-cc {$spirituallife_PreviousReligion_class}" {$spirituallife_PreviousReligion_style}>
	{$spirituallife_PreviousReligion_value}
</td>
{END spirituallife_PreviousReligion_fieldcolumn}
	{BEGIN spirituallife_SpiritualMasterDevoteeId_fieldcolumn}
<td  class="runner-cc {$spirituallife_SpiritualMasterDevoteeId_class}" {$spirituallife_SpiritualMasterDevoteeId_style}>
	{$spirituallife_SpiritualMasterDevoteeId_value}
</td>
{END spirituallife_SpiritualMasterDevoteeId_fieldcolumn}
	{BEGIN spirituallife_DateOfBrahmanInitiation_fieldcolumn}
<td  class="runner-cc {$spirituallife_DateOfBrahmanInitiation_class}" {$spirituallife_DateOfBrahmanInitiation_style}>
	{$spirituallife_DateOfBrahmanInitiation_value}
</td>
{END spirituallife_DateOfBrahmanInitiation_fieldcolumn}
	{BEGIN spirituallife_DateOfHarinamInitiation_fieldcolumn}
<td  class="runner-cc {$spirituallife_DateOfHarinamInitiation_class}" {$spirituallife_DateOfHarinamInitiation_style}>
	{$spirituallife_DateOfHarinamInitiation_value}
</td>
{END spirituallife_DateOfHarinamInitiation_fieldcolumn}
	{BEGIN spirituallife_SpiritulLifeId_fieldcolumn}
<td  class="runner-cc {$spirituallife_SpiritulLifeId_class}" {$spirituallife_SpiritulLifeId_style}>
	{$spirituallife_SpiritulLifeId_value}
</td>
{END spirituallife_SpiritulLifeId_fieldcolumn}
	{BEGIN spirituallife_IntroducedBy_fieldcolumn}
<td  class="runner-cc {$spirituallife_IntroducedBy_class}" {$spirituallife_IntroducedBy_style}>
	{$spirituallife_IntroducedBy_value}
</td>
{END spirituallife_IntroducedBy_fieldcolumn}
	{BEGIN company_CompanyId_fieldcolumn}
<td  class="runner-cc {$company_CompanyId_class}" {$company_CompanyId_style}>
	{$company_CompanyId_value}
</td>
{END company_CompanyId_fieldcolumn}
	{BEGIN company_CompanyName_fieldcolumn}
<td  class="runner-cc {$company_CompanyName_class}" {$company_CompanyName_style}>
	{$company_CompanyName_value}
</td>
{END company_CompanyName_fieldcolumn}
	{BEGIN company_AddressId_fieldcolumn}
<td  class="runner-cc {$company_AddressId_class}" {$company_AddressId_style}>
	{$company_AddressId_value}
</td>
{END company_AddressId_fieldcolumn}
	{BEGIN company_Remark_fieldcolumn}
<td  class="runner-cc {$company_Remark_class}" {$company_Remark_style}>
	{$company_Remark_value}
</td>
{END company_Remark_fieldcolumn}
	{BEGIN devoteelang_DevoteeLanguageId_fieldcolumn}
<td  class="runner-cc {$devoteelang_DevoteeLanguageId_class}" {$devoteelang_DevoteeLanguageId_style}>
	{$devoteelang_DevoteeLanguageId_value}
</td>
{END devoteelang_DevoteeLanguageId_fieldcolumn}
	{BEGIN devoteelang_WritingLevel_fieldcolumn}
<td  class="runner-cc {$devoteelang_WritingLevel_class}" {$devoteelang_WritingLevel_style}>
	{$devoteelang_WritingLevel_value}
</td>
{END devoteelang_WritingLevel_fieldcolumn}
	{BEGIN devoteelang_DevoteeId_fieldcolumn}
<td  class="runner-cc {$devoteelang_DevoteeId_class}" {$devoteelang_DevoteeId_style}>
	{$devoteelang_DevoteeId_value}
</td>
{END devoteelang_DevoteeId_fieldcolumn}
	{BEGIN devoteelang_LanguageId_fieldcolumn}
<td  class="runner-cc {$devoteelang_LanguageId_class}" {$devoteelang_LanguageId_style}>
	{$devoteelang_LanguageId_value}
</td>
{END devoteelang_LanguageId_fieldcolumn}
	{BEGIN devoteelang_SpeakingLevel_fieldcolumn}
<td  class="runner-cc {$devoteelang_SpeakingLevel_class}" {$devoteelang_SpeakingLevel_style}>
	{$devoteelang_SpeakingLevel_value}
</td>
{END devoteelang_SpeakingLevel_fieldcolumn}
	{BEGIN devoteelang_ReadingLevel_fieldcolumn}
<td  class="runner-cc {$devoteelang_ReadingLevel_class}" {$devoteelang_ReadingLevel_style}>
	{$devoteelang_ReadingLevel_value}
</td>
{END devoteelang_ReadingLevel_fieldcolumn}
	{BEGIN occupational_DevoteeOccupationalId_fieldcolumn}
<td  class="runner-cc {$occupational_DevoteeOccupationalId_class}" {$occupational_DevoteeOccupationalId_style}>
	{$occupational_DevoteeOccupationalId_value}
</td>
{END occupational_DevoteeOccupationalId_fieldcolumn}
	{BEGIN Occupational_DevoteeId_fieldcolumn}
<td  class="runner-cc {$Occupational_DevoteeId_class}" {$Occupational_DevoteeId_style}>
	{$Occupational_DevoteeId_value}
</td>
{END Occupational_DevoteeId_fieldcolumn}
	{BEGIN Occupational_Education_fieldcolumn}
<td  class="runner-cc {$Occupational_Education_class}" {$Occupational_Education_style}>
	{$Occupational_Education_value}
</td>
{END Occupational_Education_fieldcolumn}
	{BEGIN Occupational_Occupation_fieldcolumn}
<td  class="runner-cc {$Occupational_Occupation_class}" {$Occupational_Occupation_style}>
	{$Occupational_Occupation_value}
</td>
{END Occupational_Occupation_fieldcolumn}
	{BEGIN Occupational_Designation_fieldcolumn}
<td  class="runner-cc {$Occupational_Designation_class}" {$Occupational_Designation_style}>
	{$Occupational_Designation_value}
</td>
{END Occupational_Designation_fieldcolumn}
	{BEGIN Occupational_AwardsOrMerits_fieldcolumn}
<td  class="runner-cc {$Occupational_AwardsOrMerits_class}" {$Occupational_AwardsOrMerits_style}>
	{$Occupational_AwardsOrMerits_value}
</td>
{END Occupational_AwardsOrMerits_fieldcolumn}
	{BEGIN occupational_SkillsOrExperiences_fieldcolumn}
<td  class="runner-cc {$occupational_SkillsOrExperiences_class}" {$occupational_SkillsOrExperiences_style}>
	{$occupational_SkillsOrExperiences_value}
</td>
{END occupational_SkillsOrExperiences_fieldcolumn}
	{BEGIN occupational_CurrentCompanyId_fieldcolumn}
<td  class="runner-cc {$occupational_CurrentCompanyId_class}" {$occupational_CurrentCompanyId_style}>
	{$occupational_CurrentCompanyId_value}
</td>
{END occupational_CurrentCompanyId_fieldcolumn}
	{BEGIN addresstypes_AddressType_fieldcolumn}
<td  class="runner-cc {$addresstypes_AddressType_class}" {$addresstypes_AddressType_style}>
	{$addresstypes_AddressType_value}
</td>
{END addresstypes_AddressType_fieldcolumn}
	{BEGIN addresstypes_AddressTypeId_fieldcolumn}
<td  class="runner-cc {$addresstypes_AddressTypeId_class}" {$addresstypes_AddressTypeId_style}>
	{$addresstypes_AddressTypeId_value}
</td>
{END addresstypes_AddressTypeId_fieldcolumn}
	{BEGIN DevoteeOrg_DevoteeOrgId_fieldcolumn}
<td  class="runner-cc {$DevoteeOrg_DevoteeOrgId_class}" {$DevoteeOrg_DevoteeOrgId_style}>
	{$DevoteeOrg_DevoteeOrgId_value}
</td>
{END DevoteeOrg_DevoteeOrgId_fieldcolumn}
	{BEGIN DevoteeOrg_DevoteeId_fieldcolumn}
<td  class="runner-cc {$DevoteeOrg_DevoteeId_class}" {$DevoteeOrg_DevoteeId_style}>
	{$DevoteeOrg_DevoteeId_value}
</td>
{END DevoteeOrg_DevoteeId_fieldcolumn}
	{BEGIN DevoteeOrg_FromDate_fieldcolumn}
<td  class="runner-cc {$DevoteeOrg_FromDate_class}" {$DevoteeOrg_FromDate_style}>
	{$DevoteeOrg_FromDate_value}
</td>
{END DevoteeOrg_FromDate_fieldcolumn}
	{BEGIN DevoteeOrg_ToDate_fieldcolumn}
<td  class="runner-cc {$DevoteeOrg_ToDate_class}" {$DevoteeOrg_ToDate_style}>
	{$DevoteeOrg_ToDate_value}
</td>
{END DevoteeOrg_ToDate_fieldcolumn}
	{BEGIN DevoteeOrg_OrgId_fieldcolumn}
<td  class="runner-cc {$DevoteeOrg_OrgId_class}" {$DevoteeOrg_OrgId_style}>
	{$DevoteeOrg_OrgId_value}
</td>
{END DevoteeOrg_OrgId_fieldcolumn}
	{BEGIN devoteeaddress_devoteeaddressId_fieldcolumn}
<td  class="runner-cc {$devoteeaddress_devoteeaddressId_class}" {$devoteeaddress_devoteeaddressId_style}>
	{$devoteeaddress_devoteeaddressId_value}
</td>
{END devoteeaddress_devoteeaddressId_fieldcolumn}
	{BEGIN devoteeaddress_AddressId_fieldcolumn}
<td  class="runner-cc {$devoteeaddress_AddressId_class}" {$devoteeaddress_AddressId_style}>
	{$devoteeaddress_AddressId_value}
</td>
{END devoteeaddress_AddressId_fieldcolumn}
	{BEGIN devoteeaddress_DevoteeId_fieldcolumn}
<td  class="runner-cc {$devoteeaddress_DevoteeId_class}" {$devoteeaddress_DevoteeId_style}>
	{$devoteeaddress_DevoteeId_value}
</td>
{END devoteeaddress_DevoteeId_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN DevoteeId_fieldfootercolumn}
<td class="runner-cc "></td>
{END DevoteeId_fieldfootercolumn}
{BEGIN Address_AddressId_fieldfootercolumn}
<td class="runner-cc "></td>
{END Address_AddressId_fieldfootercolumn}
{BEGIN address_AddressLine1_fieldfootercolumn}
<td class="runner-cc "></td>
{END address_AddressLine1_fieldfootercolumn}
{BEGIN address_AddressLine2_fieldfootercolumn}
<td class="runner-cc "></td>
{END address_AddressLine2_fieldfootercolumn}
{BEGIN address_City_fieldfootercolumn}
<td class="runner-cc "></td>
{END address_City_fieldfootercolumn}
{BEGIN address_State_fieldfootercolumn}
<td class="runner-cc "></td>
{END address_State_fieldfootercolumn}
{BEGIN address_Pincode_fieldfootercolumn}
<td class="runner-cc "></td>
{END address_Pincode_fieldfootercolumn}
{BEGIN address_Country_fieldfootercolumn}
<td class="runner-cc "></td>
{END address_Country_fieldfootercolumn}
{BEGIN address_IsVerified_fieldfootercolumn}
<td class="runner-cc "></td>
{END address_IsVerified_fieldfootercolumn}
{BEGIN address_IsWrong_fieldfootercolumn}
<td class="runner-cc "></td>
{END address_IsWrong_fieldfootercolumn}
{BEGIN address_AddressTypeId_fieldfootercolumn}
<td class="runner-cc "></td>
{END address_AddressTypeId_fieldfootercolumn}
{BEGIN organization_OrgName_fieldfootercolumn}
<td class="runner-cc "></td>
{END organization_OrgName_fieldfootercolumn}
{BEGIN organization_OrgId_fieldfootercolumn}
<td class="runner-cc "></td>
{END organization_OrgId_fieldfootercolumn}
{BEGIN organization_OrgLeaderId_fieldfootercolumn}
<td class="runner-cc "></td>
{END organization_OrgLeaderId_fieldfootercolumn}
{BEGIN organization_OrgOwnerId_fieldfootercolumn}
<td class="runner-cc "></td>
{END organization_OrgOwnerId_fieldfootercolumn}
{BEGIN organization_Location_fieldfootercolumn}
<td class="runner-cc "></td>
{END organization_Location_fieldfootercolumn}
{BEGIN spirituallife_SericesRendered_fieldfootercolumn}
<td class="runner-cc "></td>
{END spirituallife_SericesRendered_fieldfootercolumn}
{BEGIN SpiritualLife_DevoteeId_fieldfootercolumn}
<td class="runner-cc "></td>
{END SpiritualLife_DevoteeId_fieldfootercolumn}
{BEGIN spirituallife_PreferedServices_fieldfootercolumn}
<td class="runner-cc "></td>
{END spirituallife_PreferedServices_fieldfootercolumn}
{BEGIN spirituallife_Chanting16RoundsSince_fieldfootercolumn}
<td class="runner-cc "></td>
{END spirituallife_Chanting16RoundsSince_fieldfootercolumn}
{BEGIN spirituallife_IntroducedInCenter_fieldfootercolumn}
<td class="runner-cc "></td>
{END spirituallife_IntroducedInCenter_fieldfootercolumn}
{BEGIN spirituallife_YearOfIntroduction_fieldfootercolumn}
<td class="runner-cc "></td>
{END spirituallife_YearOfIntroduction_fieldfootercolumn}
{BEGIN spirituallife_PreviousReligion_fieldfootercolumn}
<td class="runner-cc "></td>
{END spirituallife_PreviousReligion_fieldfootercolumn}
{BEGIN spirituallife_SpiritualMasterDevoteeId_fieldfootercolumn}
<td class="runner-cc "></td>
{END spirituallife_SpiritualMasterDevoteeId_fieldfootercolumn}
{BEGIN spirituallife_DateOfBrahmanInitiation_fieldfootercolumn}
<td class="runner-cc "></td>
{END spirituallife_DateOfBrahmanInitiation_fieldfootercolumn}
{BEGIN spirituallife_DateOfHarinamInitiation_fieldfootercolumn}
<td class="runner-cc "></td>
{END spirituallife_DateOfHarinamInitiation_fieldfootercolumn}
{BEGIN spirituallife_SpiritulLifeId_fieldfootercolumn}
<td class="runner-cc "></td>
{END spirituallife_SpiritulLifeId_fieldfootercolumn}
{BEGIN spirituallife_IntroducedBy_fieldfootercolumn}
<td class="runner-cc "></td>
{END spirituallife_IntroducedBy_fieldfootercolumn}
{BEGIN company_CompanyId_fieldfootercolumn}
<td class="runner-cc "></td>
{END company_CompanyId_fieldfootercolumn}
{BEGIN company_CompanyName_fieldfootercolumn}
<td class="runner-cc "></td>
{END company_CompanyName_fieldfootercolumn}
{BEGIN company_AddressId_fieldfootercolumn}
<td class="runner-cc "></td>
{END company_AddressId_fieldfootercolumn}
{BEGIN company_Remark_fieldfootercolumn}
<td class="runner-cc "></td>
{END company_Remark_fieldfootercolumn}
{BEGIN devoteelang_DevoteeLanguageId_fieldfootercolumn}
<td class="runner-cc "></td>
{END devoteelang_DevoteeLanguageId_fieldfootercolumn}
{BEGIN devoteelang_WritingLevel_fieldfootercolumn}
<td class="runner-cc "></td>
{END devoteelang_WritingLevel_fieldfootercolumn}
{BEGIN devoteelang_DevoteeId_fieldfootercolumn}
<td class="runner-cc "></td>
{END devoteelang_DevoteeId_fieldfootercolumn}
{BEGIN devoteelang_LanguageId_fieldfootercolumn}
<td class="runner-cc "></td>
{END devoteelang_LanguageId_fieldfootercolumn}
{BEGIN devoteelang_SpeakingLevel_fieldfootercolumn}
<td class="runner-cc "></td>
{END devoteelang_SpeakingLevel_fieldfootercolumn}
{BEGIN devoteelang_ReadingLevel_fieldfootercolumn}
<td class="runner-cc "></td>
{END devoteelang_ReadingLevel_fieldfootercolumn}
{BEGIN occupational_DevoteeOccupationalId_fieldfootercolumn}
<td class="runner-cc "></td>
{END occupational_DevoteeOccupationalId_fieldfootercolumn}
{BEGIN Occupational_DevoteeId_fieldfootercolumn}
<td class="runner-cc "></td>
{END Occupational_DevoteeId_fieldfootercolumn}
{BEGIN Occupational_Education_fieldfootercolumn}
<td class="runner-cc "></td>
{END Occupational_Education_fieldfootercolumn}
{BEGIN Occupational_Occupation_fieldfootercolumn}
<td class="runner-cc "></td>
{END Occupational_Occupation_fieldfootercolumn}
{BEGIN Occupational_Designation_fieldfootercolumn}
<td class="runner-cc "></td>
{END Occupational_Designation_fieldfootercolumn}
{BEGIN Occupational_AwardsOrMerits_fieldfootercolumn}
<td class="runner-cc "></td>
{END Occupational_AwardsOrMerits_fieldfootercolumn}
{BEGIN occupational_SkillsOrExperiences_fieldfootercolumn}
<td class="runner-cc "></td>
{END occupational_SkillsOrExperiences_fieldfootercolumn}
{BEGIN occupational_CurrentCompanyId_fieldfootercolumn}
<td class="runner-cc "></td>
{END occupational_CurrentCompanyId_fieldfootercolumn}
{BEGIN addresstypes_AddressType_fieldfootercolumn}
<td class="runner-cc "></td>
{END addresstypes_AddressType_fieldfootercolumn}
{BEGIN addresstypes_AddressTypeId_fieldfootercolumn}
<td class="runner-cc "></td>
{END addresstypes_AddressTypeId_fieldfootercolumn}
{BEGIN DevoteeOrg_DevoteeOrgId_fieldfootercolumn}
<td class="runner-cc "></td>
{END DevoteeOrg_DevoteeOrgId_fieldfootercolumn}
{BEGIN DevoteeOrg_DevoteeId_fieldfootercolumn}
<td class="runner-cc "></td>
{END DevoteeOrg_DevoteeId_fieldfootercolumn}
{BEGIN DevoteeOrg_FromDate_fieldfootercolumn}
<td class="runner-cc "></td>
{END DevoteeOrg_FromDate_fieldfootercolumn}
{BEGIN DevoteeOrg_ToDate_fieldfootercolumn}
<td class="runner-cc "></td>
{END DevoteeOrg_ToDate_fieldfootercolumn}
{BEGIN DevoteeOrg_OrgId_fieldfootercolumn}
<td class="runner-cc "></td>
{END DevoteeOrg_OrgId_fieldfootercolumn}
{BEGIN devoteeaddress_devoteeaddressId_fieldfootercolumn}
<td class="runner-cc "></td>
{END devoteeaddress_devoteeaddressId_fieldfootercolumn}
{BEGIN devoteeaddress_AddressId_fieldfootercolumn}
<td class="runner-cc "></td>
{END devoteeaddress_AddressId_fieldfootercolumn}
{BEGIN devoteeaddress_DevoteeId_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END devoteeaddress_DevoteeId_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
