<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN organization_OrgName_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_organization_OrgName {$fielddispclass_organization_OrgName}">
				{BEGIN organization_OrgName_label}Org Name{END organization_OrgName_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_organization_OrgName {$fielddispclass_organization_OrgName}">
				{$organization_OrgName_editcontrol}
			</div>
		</td>
	</tr>
{END organization_OrgName_tabfieldblock}
{BEGIN organization_OrgId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_organization_OrgId {$fielddispclass_organization_OrgId}">
				{BEGIN organization_OrgId_label}OrgId{END organization_OrgId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_organization_OrgId {$fielddispclass_organization_OrgId}">
				{$organization_OrgId_editcontrol}
			</div>
		</td>
	</tr>
{END organization_OrgId_tabfieldblock}
{BEGIN organization_OrgLeaderId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_organization_OrgLeaderId {$fielddispclass_organization_OrgLeaderId}">
				{BEGIN organization_OrgLeaderId_label}OrgLeaderId{END organization_OrgLeaderId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_organization_OrgLeaderId {$fielddispclass_organization_OrgLeaderId}">
				{$organization_OrgLeaderId_editcontrol}
			</div>
		</td>
	</tr>
{END organization_OrgLeaderId_tabfieldblock}
{BEGIN organization_OrgOwnerId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_organization_OrgOwnerId {$fielddispclass_organization_OrgOwnerId}">
				{BEGIN organization_OrgOwnerId_label}OrgOwnerId{END organization_OrgOwnerId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_organization_OrgOwnerId {$fielddispclass_organization_OrgOwnerId}">
				{$organization_OrgOwnerId_editcontrol}
			</div>
		</td>
	</tr>
{END organization_OrgOwnerId_tabfieldblock}
{BEGIN organization_Location_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_organization_Location {$fielddispclass_organization_Location}">
				{BEGIN organization_Location_label}Location{END organization_Location_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_organization_Location {$fielddispclass_organization_Location}">
				{$organization_Location_editcontrol}
			</div>
		</td>
	</tr>
{END organization_Location_tabfieldblock}
</table>





{END container_1}

</div>