<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN DevoteeId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_DevoteeId {$fielddispclass_DevoteeId}">
				{BEGIN DevoteeId_label}Devotee Id{END DevoteeId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_DevoteeId {$fielddispclass_DevoteeId}">
				{$DevoteeId_editcontrol}
			</div>
		</td>
	</tr>
{END DevoteeId_tabfieldblock}
{BEGIN Photo_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Photo {$fielddispclass_Photo}">
				{BEGIN Photo_label}Photo{END Photo_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Photo {$fielddispclass_Photo}">
				{$Photo_editcontrol}
			</div>
		</td>
	</tr>
{END Photo_tabfieldblock}
{BEGIN Gender_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Gender {$fielddispclass_Gender}">
				{BEGIN Gender_label}Gender{END Gender_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Gender {$fielddispclass_Gender}">
				{$Gender_editcontrol}
			</div>
		</td>
	</tr>
{END Gender_tabfieldblock}
{BEGIN TitleId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_TitleId {$fielddispclass_TitleId}">
				{BEGIN TitleId_label}Title Id{END TitleId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_TitleId {$fielddispclass_TitleId}">
				{$TitleId_editcontrol}
			</div>
		</td>
	</tr>
{END TitleId_tabfieldblock}
{BEGIN FirstName_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_FirstName {$fielddispclass_FirstName}">
				{BEGIN FirstName_label}First Name{END FirstName_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_FirstName {$fielddispclass_FirstName}">
				{$FirstName_editcontrol}
			</div>
		</td>
	</tr>
{END FirstName_tabfieldblock}
{BEGIN LastName_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_LastName {$fielddispclass_LastName}">
				{BEGIN LastName_label}Last Name{END LastName_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_LastName {$fielddispclass_LastName}">
				{$LastName_editcontrol}
			</div>
		</td>
	</tr>
{END LastName_tabfieldblock}
{BEGIN MiddleName_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_MiddleName {$fielddispclass_MiddleName}">
				{BEGIN MiddleName_label}Middle Name{END MiddleName_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_MiddleName {$fielddispclass_MiddleName}">
				{$MiddleName_editcontrol}
			</div>
		</td>
	</tr>
{END MiddleName_tabfieldblock}
{BEGIN DateOfBirth_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_DateOfBirth {$fielddispclass_DateOfBirth}">
				{BEGIN DateOfBirth_label}Date Of Birth{END DateOfBirth_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_DateOfBirth {$fielddispclass_DateOfBirth}">
				{$DateOfBirth_editcontrol}
			</div>
		</td>
	</tr>
{END DateOfBirth_tabfieldblock}
{BEGIN MaritalStatusId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_MaritalStatusId {$fielddispclass_MaritalStatusId}">
				{BEGIN MaritalStatusId_label}Marital Status Id{END MaritalStatusId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_MaritalStatusId {$fielddispclass_MaritalStatusId}">
				{$MaritalStatusId_editcontrol}
			</div>
		</td>
	</tr>
{END MaritalStatusId_tabfieldblock}
{BEGIN DateofMarriage_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_DateofMarriage {$fielddispclass_DateofMarriage}">
				{BEGIN DateofMarriage_label}Date of Marriage{END DateofMarriage_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_DateofMarriage {$fielddispclass_DateofMarriage}">
				{$DateofMarriage_editcontrol}
			</div>
		</td>
	</tr>
{END DateofMarriage_tabfieldblock}
{BEGIN SpouseDevoteeId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_SpouseDevoteeId {$fielddispclass_SpouseDevoteeId}">
				{BEGIN SpouseDevoteeId_label}Spouse Devotee Id{END SpouseDevoteeId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_SpouseDevoteeId {$fielddispclass_SpouseDevoteeId}">
				{$SpouseDevoteeId_editcontrol}
			</div>
		</td>
	</tr>
{END SpouseDevoteeId_tabfieldblock}
{BEGIN MobilePhone_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_MobilePhone {$fielddispclass_MobilePhone}">
				{BEGIN MobilePhone_label}Mobile Phone{END MobilePhone_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_MobilePhone {$fielddispclass_MobilePhone}">
				{$MobilePhone_editcontrol}
			</div>
		</td>
	</tr>
{END MobilePhone_tabfieldblock}
{BEGIN WorkPhone_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_WorkPhone {$fielddispclass_WorkPhone}">
				{BEGIN WorkPhone_label}Work Phone{END WorkPhone_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_WorkPhone {$fielddispclass_WorkPhone}">
				{$WorkPhone_editcontrol}
			</div>
		</td>
	</tr>
{END WorkPhone_tabfieldblock}
{BEGIN EmailPrimary_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_EmailPrimary {$fielddispclass_EmailPrimary}">
				{BEGIN EmailPrimary_label}Email Primary{END EmailPrimary_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_EmailPrimary {$fielddispclass_EmailPrimary}">
				{$EmailPrimary_editcontrol}
			</div>
		</td>
	</tr>
{END EmailPrimary_tabfieldblock}
{BEGIN EmailSecondary_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_EmailSecondary {$fielddispclass_EmailSecondary}">
				{BEGIN EmailSecondary_label}Email Secondary{END EmailSecondary_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_EmailSecondary {$fielddispclass_EmailSecondary}">
				{$EmailSecondary_editcontrol}
			</div>
		</td>
	</tr>
{END EmailSecondary_tabfieldblock}
{BEGIN Password_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Password {$fielddispclass_Password}">
				{BEGIN Password_label}Password{END Password_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Password {$fielddispclass_Password}">
				{$Password_editcontrol}
			</div>
		</td>
	</tr>
{END Password_tabfieldblock}
</table>





{END container_1}

</div>