<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN spirituallife_SericesRendered_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spirituallife_SericesRendered {$fielddispclass_spirituallife_SericesRendered}">
				{BEGIN spirituallife_SericesRendered_label}Serices Rendered{END spirituallife_SericesRendered_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_spirituallife_SericesRendered {$fielddispclass_spirituallife_SericesRendered}">
				{$spirituallife_SericesRendered_editcontrol}
			</div>
		</td>
	</tr>
{END spirituallife_SericesRendered_tabfieldblock}
{BEGIN SpiritualLife_DevoteeId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_SpiritualLife_DevoteeId {$fielddispclass_SpiritualLife_DevoteeId}">
				{BEGIN SpiritualLife_DevoteeId_label}Devotee Id{END SpiritualLife_DevoteeId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_SpiritualLife_DevoteeId {$fielddispclass_SpiritualLife_DevoteeId}">
				{$SpiritualLife_DevoteeId_editcontrol}
			</div>
		</td>
	</tr>
{END SpiritualLife_DevoteeId_tabfieldblock}
{BEGIN spirituallife_PreferedServices_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spirituallife_PreferedServices {$fielddispclass_spirituallife_PreferedServices}">
				{BEGIN spirituallife_PreferedServices_label}Prefered Services{END spirituallife_PreferedServices_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_spirituallife_PreferedServices {$fielddispclass_spirituallife_PreferedServices}">
				{$spirituallife_PreferedServices_editcontrol}
			</div>
		</td>
	</tr>
{END spirituallife_PreferedServices_tabfieldblock}
{BEGIN spirituallife_Chanting16RoundsSince_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spirituallife_Chanting16RoundsSince {$fielddispclass_spirituallife_Chanting16RoundsSince}">
				{BEGIN spirituallife_Chanting16RoundsSince_label}Chanting 16 Rounds Since{END spirituallife_Chanting16RoundsSince_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_spirituallife_Chanting16RoundsSince {$fielddispclass_spirituallife_Chanting16RoundsSince}">
				{$spirituallife_Chanting16RoundsSince_editcontrol}
			</div>
		</td>
	</tr>
{END spirituallife_Chanting16RoundsSince_tabfieldblock}
{BEGIN spirituallife_IntroducedInCenter_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spirituallife_IntroducedInCenter {$fielddispclass_spirituallife_IntroducedInCenter}">
				{BEGIN spirituallife_IntroducedInCenter_label}Introduced In Center{END spirituallife_IntroducedInCenter_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_spirituallife_IntroducedInCenter {$fielddispclass_spirituallife_IntroducedInCenter}">
				{$spirituallife_IntroducedInCenter_editcontrol}
			</div>
		</td>
	</tr>
{END spirituallife_IntroducedInCenter_tabfieldblock}
{BEGIN spirituallife_YearOfIntroduction_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spirituallife_YearOfIntroduction {$fielddispclass_spirituallife_YearOfIntroduction}">
				{BEGIN spirituallife_YearOfIntroduction_label}Year Of Introduction{END spirituallife_YearOfIntroduction_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_spirituallife_YearOfIntroduction {$fielddispclass_spirituallife_YearOfIntroduction}">
				{$spirituallife_YearOfIntroduction_editcontrol}
			</div>
		</td>
	</tr>
{END spirituallife_YearOfIntroduction_tabfieldblock}
{BEGIN spirituallife_PreviousReligion_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spirituallife_PreviousReligion {$fielddispclass_spirituallife_PreviousReligion}">
				{BEGIN spirituallife_PreviousReligion_label}Previous Religion{END spirituallife_PreviousReligion_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_spirituallife_PreviousReligion {$fielddispclass_spirituallife_PreviousReligion}">
				{$spirituallife_PreviousReligion_editcontrol}
			</div>
		</td>
	</tr>
{END spirituallife_PreviousReligion_tabfieldblock}
{BEGIN spirituallife_SpiritualMasterDevoteeId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spirituallife_SpiritualMasterDevoteeId {$fielddispclass_spirituallife_SpiritualMasterDevoteeId}">
				{BEGIN spirituallife_SpiritualMasterDevoteeId_label}Spiritual Master Devotee Id{END spirituallife_SpiritualMasterDevoteeId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_spirituallife_SpiritualMasterDevoteeId {$fielddispclass_spirituallife_SpiritualMasterDevoteeId}">
				{$spirituallife_SpiritualMasterDevoteeId_editcontrol}
			</div>
		</td>
	</tr>
{END spirituallife_SpiritualMasterDevoteeId_tabfieldblock}
{BEGIN spirituallife_DateOfBrahmanInitiation_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spirituallife_DateOfBrahmanInitiation {$fielddispclass_spirituallife_DateOfBrahmanInitiation}">
				{BEGIN spirituallife_DateOfBrahmanInitiation_label}Date Of Brahman Initiation{END spirituallife_DateOfBrahmanInitiation_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_spirituallife_DateOfBrahmanInitiation {$fielddispclass_spirituallife_DateOfBrahmanInitiation}">
				{$spirituallife_DateOfBrahmanInitiation_editcontrol}
			</div>
		</td>
	</tr>
{END spirituallife_DateOfBrahmanInitiation_tabfieldblock}
{BEGIN spirituallife_DateOfHarinamInitiation_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spirituallife_DateOfHarinamInitiation {$fielddispclass_spirituallife_DateOfHarinamInitiation}">
				{BEGIN spirituallife_DateOfHarinamInitiation_label}Date Of Harinam Initiation{END spirituallife_DateOfHarinamInitiation_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_spirituallife_DateOfHarinamInitiation {$fielddispclass_spirituallife_DateOfHarinamInitiation}">
				{$spirituallife_DateOfHarinamInitiation_editcontrol}
			</div>
		</td>
	</tr>
{END spirituallife_DateOfHarinamInitiation_tabfieldblock}
{BEGIN spirituallife_SpiritulLifeId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spirituallife_SpiritulLifeId {$fielddispclass_spirituallife_SpiritulLifeId}">
				{BEGIN spirituallife_SpiritulLifeId_label}Spiritul Life Id{END spirituallife_SpiritulLifeId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_spirituallife_SpiritulLifeId {$fielddispclass_spirituallife_SpiritulLifeId}">
				{$spirituallife_SpiritulLifeId_editcontrol}
			</div>
		</td>
	</tr>
{END spirituallife_SpiritulLifeId_tabfieldblock}
{BEGIN spirituallife_IntroducedBy_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spirituallife_IntroducedBy {$fielddispclass_spirituallife_IntroducedBy}">
				{BEGIN spirituallife_IntroducedBy_label}Introduced By{END spirituallife_IntroducedBy_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_spirituallife_IntroducedBy {$fielddispclass_spirituallife_IntroducedBy}">
				{$spirituallife_IntroducedBy_editcontrol}
			</div>
		</td>
	</tr>
{END spirituallife_IntroducedBy_tabfieldblock}
</table>





{END container_1}

</div>