<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN devoteelang_DevoteeLanguageId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_devoteelang_DevoteeLanguageId {$fielddispclass_devoteelang_DevoteeLanguageId}">
				{BEGIN devoteelang_DevoteeLanguageId_label}Devotee Language Id{END devoteelang_DevoteeLanguageId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_devoteelang_DevoteeLanguageId {$fielddispclass_devoteelang_DevoteeLanguageId}">
				{$devoteelang_DevoteeLanguageId_editcontrol}
			</div>
		</td>
	</tr>
{END devoteelang_DevoteeLanguageId_tabfieldblock}
{BEGIN devoteelang_WritingLevel_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_devoteelang_WritingLevel {$fielddispclass_devoteelang_WritingLevel}">
				{BEGIN devoteelang_WritingLevel_label}Writing Level{END devoteelang_WritingLevel_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_devoteelang_WritingLevel {$fielddispclass_devoteelang_WritingLevel}">
				{$devoteelang_WritingLevel_editcontrol}
			</div>
		</td>
	</tr>
{END devoteelang_WritingLevel_tabfieldblock}
{BEGIN devoteelang_DevoteeId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_devoteelang_DevoteeId {$fielddispclass_devoteelang_DevoteeId}">
				{BEGIN devoteelang_DevoteeId_label}Devotee Id{END devoteelang_DevoteeId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_devoteelang_DevoteeId {$fielddispclass_devoteelang_DevoteeId}">
				{$devoteelang_DevoteeId_editcontrol}
			</div>
		</td>
	</tr>
{END devoteelang_DevoteeId_tabfieldblock}
{BEGIN devoteelang_LanguageId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_devoteelang_LanguageId {$fielddispclass_devoteelang_LanguageId}">
				{BEGIN devoteelang_LanguageId_label}Language Id{END devoteelang_LanguageId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_devoteelang_LanguageId {$fielddispclass_devoteelang_LanguageId}">
				{$devoteelang_LanguageId_editcontrol}
			</div>
		</td>
	</tr>
{END devoteelang_LanguageId_tabfieldblock}
{BEGIN devoteelang_SpeakingLevel_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_devoteelang_SpeakingLevel {$fielddispclass_devoteelang_SpeakingLevel}">
				{BEGIN devoteelang_SpeakingLevel_label}Speaking Level{END devoteelang_SpeakingLevel_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_devoteelang_SpeakingLevel {$fielddispclass_devoteelang_SpeakingLevel}">
				{$devoteelang_SpeakingLevel_editcontrol}
			</div>
		</td>
	</tr>
{END devoteelang_SpeakingLevel_tabfieldblock}
{BEGIN devoteelang_ReadingLevel_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_devoteelang_ReadingLevel {$fielddispclass_devoteelang_ReadingLevel}">
				{BEGIN devoteelang_ReadingLevel_label}Reading Level{END devoteelang_ReadingLevel_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_devoteelang_ReadingLevel {$fielddispclass_devoteelang_ReadingLevel}">
				{$devoteelang_ReadingLevel_editcontrol}
			</div>
		</td>
	</tr>
{END devoteelang_ReadingLevel_tabfieldblock}
</table>





{END container_1}

</div>