<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN SpiritualLife_DevoteeId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_SpiritualLife_DevoteeId {$fielddispclass_SpiritualLife_DevoteeId}">
				{BEGIN SpiritualLife_DevoteeId_label}Devotee Id{END SpiritualLife_DevoteeId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_SpiritualLife_DevoteeId {$fielddispclass_SpiritualLife_DevoteeId}">
				{$SpiritualLife_DevoteeId_editcontrol}
			</div>
		</td>
	</tr>
{END SpiritualLife_DevoteeId_tabfieldblock}
</table>





{END container_1}

</div>