<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN company_CompanyId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_company_CompanyId {$fielddispclass_company_CompanyId}">
				{BEGIN company_CompanyId_label}Company Id{END company_CompanyId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_company_CompanyId {$fielddispclass_company_CompanyId}">
				{$company_CompanyId_editcontrol}
			</div>
		</td>
	</tr>
{END company_CompanyId_tabfieldblock}
{BEGIN company_CompanyName_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_company_CompanyName {$fielddispclass_company_CompanyName}">
				{BEGIN company_CompanyName_label}Company Name{END company_CompanyName_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_company_CompanyName {$fielddispclass_company_CompanyName}">
				{$company_CompanyName_editcontrol}
			</div>
		</td>
	</tr>
{END company_CompanyName_tabfieldblock}
{BEGIN company_AddressId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_company_AddressId {$fielddispclass_company_AddressId}">
				{BEGIN company_AddressId_label}Address Id{END company_AddressId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_company_AddressId {$fielddispclass_company_AddressId}">
				{$company_AddressId_editcontrol}
			</div>
		</td>
	</tr>
{END company_AddressId_tabfieldblock}
{BEGIN company_Remark_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_company_Remark {$fielddispclass_company_Remark}">
				{BEGIN company_Remark_label}Remark{END company_Remark_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_company_Remark {$fielddispclass_company_Remark}">
				{$company_Remark_editcontrol}
			</div>
		</td>
	</tr>
{END company_Remark_tabfieldblock}
</table>





{END container_1}

</div>