<div {$pageattrs}>

{BEGIN container_1}



<table class="runner-c" cellpadding="0">
{BEGIN Address_AddressId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Address_AddressId {$fielddispclass_Address_AddressId}">
				{BEGIN Address_AddressId_label}Address Id{END Address_AddressId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_Address_AddressId {$fielddispclass_Address_AddressId}">
				{$Address_AddressId_editcontrol}
			</div>
		</td>
	</tr>
{END Address_AddressId_tabfieldblock}
{BEGIN address_AddressLine1_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address_AddressLine1 {$fielddispclass_address_AddressLine1}">
				{BEGIN address_AddressLine1_label}Address Line1{END address_AddressLine1_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_address_AddressLine1 {$fielddispclass_address_AddressLine1}">
				{$address_AddressLine1_editcontrol}
			</div>
		</td>
	</tr>
{END address_AddressLine1_tabfieldblock}
{BEGIN address_AddressLine2_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address_AddressLine2 {$fielddispclass_address_AddressLine2}">
				{BEGIN address_AddressLine2_label}Address Line2{END address_AddressLine2_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_address_AddressLine2 {$fielddispclass_address_AddressLine2}">
				{$address_AddressLine2_editcontrol}
			</div>
		</td>
	</tr>
{END address_AddressLine2_tabfieldblock}
{BEGIN address_City_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address_City {$fielddispclass_address_City}">
				{BEGIN address_City_label}City{END address_City_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_address_City {$fielddispclass_address_City}">
				{$address_City_editcontrol}
			</div>
		</td>
	</tr>
{END address_City_tabfieldblock}
{BEGIN address_State_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address_State {$fielddispclass_address_State}">
				{BEGIN address_State_label}State{END address_State_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_address_State {$fielddispclass_address_State}">
				{$address_State_editcontrol}
			</div>
		</td>
	</tr>
{END address_State_tabfieldblock}
{BEGIN address_Pincode_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address_Pincode {$fielddispclass_address_Pincode}">
				{BEGIN address_Pincode_label}Pincode{END address_Pincode_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_address_Pincode {$fielddispclass_address_Pincode}">
				{$address_Pincode_editcontrol}
			</div>
		</td>
	</tr>
{END address_Pincode_tabfieldblock}
{BEGIN address_Country_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address_Country {$fielddispclass_address_Country}">
				{BEGIN address_Country_label}Country{END address_Country_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_address_Country {$fielddispclass_address_Country}">
				{$address_Country_editcontrol}
			</div>
		</td>
	</tr>
{END address_Country_tabfieldblock}
{BEGIN address_IsVerified_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address_IsVerified {$fielddispclass_address_IsVerified}">
				{BEGIN address_IsVerified_label}IsVerified{END address_IsVerified_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_address_IsVerified {$fielddispclass_address_IsVerified}">
				{$address_IsVerified_editcontrol}
			</div>
		</td>
	</tr>
{END address_IsVerified_tabfieldblock}
{BEGIN address_IsWrong_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address_IsWrong {$fielddispclass_address_IsWrong}">
				{BEGIN address_IsWrong_label}IsWrong{END address_IsWrong_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_address_IsWrong {$fielddispclass_address_IsWrong}">
				{$address_IsWrong_editcontrol}
			</div>
		</td>
	</tr>
{END address_IsWrong_tabfieldblock}
{BEGIN address_AddressTypeId_tabfieldblock}
	<tr class="runner-row style1">
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_address_AddressTypeId {$fielddispclass_address_AddressTypeId}">
				{BEGIN address_AddressTypeId_label}Address Type Id{END address_AddressTypeId_label}
			</div>
		</td>
		<td class="runner-cc alt">
			<div class="fieldcontrol_address_AddressTypeId {$fielddispclass_address_AddressTypeId}">
				{$address_AddressTypeId_editcontrol}
			</div>
		</td>
	</tr>
{END address_AddressTypeId_tabfieldblock}
</table>





{END container_1}

</div>